/__pycache__
templates/index.html
static/styles/js/app.js
static/style.css
static/js/jquery.canvasjs.min.js
static/js/canvasjs.min.js
static/js/app.js
files/file.wav
templates/index.html
static/styles/js/app.js
static/style.css
static/js/jquery.canvasjs.min.js
static/js/canvasjs.min.js
static/js/app.js
files/file.wav
